<div class="container">
  <h1 class="animated fadeIn fast">Sobre Comic APP</h1>

  <hr />

  <p class="animated fadeIn">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam necessitatibus
    praesentium recusandae temporibus corporis suscipit sit doloremque, beatae
    saepe iure eaque architecto ut laborum, in illo ipsa earum dolorem qui
    reiciendis culpa animi fugiat. Cum molestias voluptatibus pariatur neque
    eveniet, aliquid explicabo quos possimus quaerat at harum, nesciunt nihil
    exercitationem cupiditate unde ad suscipit sunt illo sapiente, doloribus aut
    accusantium repudiandae! Illo dolore cum fugiat quae aspernatur animi
    corporis reiciendis corrupti. Temporibus quibusdam tempora quae pariatur
    neque doloribus. Incidunt sunt in ullam pariatur ex itaque esse saepe fugiat
    ea eaque illo optio officia at harum dolor distinctio, temporibus similique.
    Assumenda.
  </p>
</div>
